* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgba(0, 255, 0, 0.31);
background: -webkit-linear-gradient(93deg, rgba(0, 255, 0, 0.31) 0%, rgba(0, 76, 255, 0.52) 100%);
background: linear-gradient(93deg, rgba(0, 255, 0, 0.31) 0%, rgba(0, 76, 255, 0.52) 100%);
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav_links {
    flex: 1;
    text-align: right;     
}
.nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
a{
    text-decoration: none;
    color: rgb(0, 255, 153);
}
a:hover{
    text-decoration: none;
    background-color: rgb(4, 142, 241,0.7);
    border-radius: 50px;
    box-shadow: 0 0 30px 10px rgba(4, 142, 241,1);
}
.nav_links ul li::after {
    content: '';
    background: #02ff2c11;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.nav_links ul li:hover::after {
    box-shadow: 0 0 10px 5px rgba(0, 174, 255, 0.758);
}
.text_box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1 {
    font-size: 62px;
}
.text_box p {
    margin: 10px 0 40px;
    font-size: 14px;
}
.text_box_link_btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.text_box_link_btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
} 
nav .fa-solid{
    display: none;
}
.About_header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(13, 41, 179, 0.534),rgba(7, 171, 75, 0.54)),url(images/168591_184618894893269_5953984_n.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;  
    color: aliceblue;
}

.About_header h1 {
    margin-top: 100px;
    font-size: 62px;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;      
}
.icons .fab {
    color: blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.vision {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding-top: 50px;
}
.mission {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
footer {
    width: 100%;
    bottom: 0;
    background: rgba(0, 255, 0, 0.31);
    background: -webkit-linear-gradient(93deg, rgba(0, 255, 0, 0.31) 0%, rgba(0, 76, 255, 0.52) 100%);
    background: linear-gradient(93deg, rgba(0, 255, 0, 0.31) 0%, rgba(0, 76, 255, 0.52) 100%);
    color: #fff;
    padding: 60px 0 30px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 10px;
}
.main_footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer {
    flex-basis: 25%;
    padding: 10px;
}
.footer:nth-child(2), .footer:nth-child(3) {
    flex-basis: 15%;
} 
.footer p {
    margin-left: 25%;
}
.logo {
    width: 80px;
    margin-bottom: 30px;
    margin-left: 25%;
}
.footer h3 {
    width: max-content;
    margin-bottom: 40px;
}
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}
form .fa-solid {
    font-size: 30px;
    margin-right: 20px;
}
form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid {
    font-size: 20px;
    color: #000000;
}
.social_icon .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
@media (max-width: 750px) {
    .nav_links {
        display: none;
        right: 0px;
    }
    .nav_links.active {
        display: block;     
        position: absolute;
        top: 75px;
        background:linear-gradient(rgb(13, 41, 179),rgb(20, 255, 118));
        border-radius: 10px;
        box-shadow: 0 0 50px 10px rgba(148, 255, 178, 0.201);
        opacity: 0.944;
        z-index: 2;
        width: 200px;      
        text-align: left;
    }
    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_links ul {
        padding: 30px;
    }
    .nav_links ul li {
        display: block;
        margin-bottom: 15px;
    }
    footer{
        bottom: unset;
    }
    .footer{
        flex-basis: 100%;
    }
    .footer:nth-child(2), .footer:nth-child(3) {
        flex-basis: 100%;
    }
}

    